@charset "utf-8";





/* CSS Document */











.slider-wrap {





    padding-top: 0;





}





.slider-wrap .loader {





    background: url("../images/ajax-loader.gif") no-repeat scroll 50% 0 transparent;





    height: 19px;





    margin: 0 auto;





    width: 970px;





}





.nivoSlider-wrap, .cycleslider-wrap {





    background: none repeat scroll 0 0 #FFFFFF;





    display: none;





    height: 271px;





    padding: 0;





}





.lite-accordion-wrap, .slides-js-wrap {





    display: none;





}





.nivoSlider {





    position: relative;





}





.nivoSlider img {





    display: none;





    position: absolute;





}





.nivo-slice {





    display: block;





    height: 100%;





    position: absolute;





    width: 970px;





    z-index: 5;





}





.nivo-box {





    display: block;





    position: absolute;





    z-index: 5;





}





.nivoSlider a.nivo-imageLink {





    border: 0 none;





    display: none;





    height: 100%;





    left: 0;





    margin: 0;





    padding: 0;





    position: absolute;





    top: 0;





    width: 100%;





    z-index: 6;





}





.nivo-html-caption {





    display: none;





}





.nivo-caption {





    background: url("../images/space.png") repeat scroll 0 0 transparent;





    bottom: 80px;





    left: 0;





    padding: 10px 20px 5px;





    position: absolute;





    z-index: 8;





}





.nivo-caption h3 {





    color: #FFFFFF;





    font-size: 18px;





    font-weight: normal;





    margin: 0 0 5px;





}





.nivo-caption .text {





    color: #FFFFFF;





}





.controlnav-thumbs .nivo-controlNav {





    margin: 254px 0 0;





    padding: 17px 0;





    position: absolute;





}





.controlnav-thumbs .nivo-controlNav a {





    background: url("../images/nivo-thumb-bg.png") no-repeat scroll 0 0 transparent;





    cursor: pointer;





    display: block;





    float: left;





    padding: 0;





    position: relative;





    z-index: 9;





}





.controlnav-thumbs .nivo-controlNav a.active {





    background-position: 0 100%;





}





.controlnav-thumbs .nivo-controlNav img {





    display: inline;





    height: 78px;





    margin: 0 auto;





    position: relative;





    text-align: center;





    width: 240px;





}





.nivo-directionNav a {





    background-repeat: no-repeat;





    bottom: -35px;





    cursor: pointer;





    height: 32px;





    position: absolute;





    text-indent: -999em;





    width: 18px;





    z-index: 5;





}





.nivo-prevNav {





    background-position: 0 -49px;





    right: 313px;





}





.nivo-prevNav:hover {





    background-position: 0 0;





}





.nivo-nextNav {





    background-position: 100% -49px;





    right: 33px;





}





.nivo-nextNav:hover {





    background-position: 100% 0;





}





.cycleslider-wrap {





    position: relative;





}





#cycle-prev, #cycle-next {





    background-image: url("../images/cycle-btn.png");





    background-repeat: no-repeat;





    cursor: pointer;





    height: 57px;





    margin-top: -10px;





    position: absolute;





    text-indent: -999em;





    top: 45%;





    width: 34px;





    z-index: 9;





}





#cycle-prev {





    background-position: 0 0;





    left: -50px;





}





#cycle-prev:hover {





    background-position: 0 100%;





}





#cycle-next {





    background-position: 100% 0;





    right: -50px;





}





#cycle-next:hover {





    background-position: 100% 100%;





}





#cycle-nav {





    bottom: -24px;





    position: absolute;





    right: 30px;





    z-index: 99;





}





#cycle-nav a {





    background: url("../images/cycle-num-btn.png") no-repeat scroll 0 100% transparent;





    color: #999999;





    cursor: pointer;





    display: block;





    float: left;





    font-size: 10px;





    height: 24px;





    margin-left: 1px;





    position: relative;





    text-align: center;





    width: 46px;





    z-index: 9;





}





#cycle-nav a.activeSlide {





    background-position: 0 0;





    color: #333333;





}





.cycle-slider-caption {





    background: url("../images/space.png") repeat scroll 0 0 transparent;





    bottom: 80px;





    left: 0;





    padding: 15px 20px;





    position: absolute;





    z-index: 8;





}





.cycle-slider-caption h3 {





    color: #FFFFFF;





    font-size: 18px;





    font-weight: normal;





    margin: 0 0 5px;





}





.cycle-slider-caption .text {





    color: #FFFFFF;





}





.lite-accordion-slider {





    text-align: left;





}





.lite-accordion-slider > ol {





    height: 100%;





    overflow: hidden;





    position: relative;





}





.lite-accordion-slider .slide > h2 {





    -moz-transform: translateX(-100%) rotate(-90deg);





    -moz-transform-origin: right top;





    color: black;





    font-size: 16px;





    font-weight: normal;





    left: 0;





    margin: 0;





    position: absolute;





    top: 0;





    z-index: 30;





}





.lite-accordion-slider .slide > h2 span {





    -moz-user-select: none;





    display: block;





    height: 90%;





    margin-top: 2px;





    padding-right: 8%;





    text-align: right;





}





.lite-accordion-slider .slide > h2:hover {





    cursor: pointer;





}





.lite-accordion-slider .slide > div {





    height: 100%;





    overflow: hidden;





    position: absolute;





    top: 0;





    z-index: 10;





}





.lite-accordion-slider figcaption {





    background: url("../images/space.png") repeat scroll 0 0 transparent;





    bottom: 30px;





    padding: 15px 20px;





    position: absolute;





    right: 30px;





    z-index: 8;





}





.lite-accordion-slider figcaption h3 {





    color: #FFFFFF;





    font-size: 18px;





    font-weight: normal;





    margin: 0 0 5px;





}





.lite-accordion-slider figcaption .text {





    color: #FFFFFF;





}





.light {





    background: url("../images/lite-accordion-bg.png") no-repeat scroll 0 0 transparent;





    padding: 11px 10px 10px 13px;





}





.light .slide > h2 {





    background: url("../images/lite-ac-btn.png") no-repeat scroll 0 0 transparent;





    line-height: 265%;





}





.light .slide > h2 span {





    color: #909090;





}





.light .slide > h2.selected, .light .slide h2:hover {





    background: url("../images/lite-ac-btn-hover.png") no-repeat scroll 0 0 transparent;





}





.light .slide > h2.selected span, .light .slide h2.selected span:hover {





    color: #333333;





}





.light .slide > div {





    background: none repeat scroll 0 0 #D1D1D1;





}





.ie9 .slide > h2 {





    filter: none;





}





#slides {





    padding: 30px 0;





    position: relative;





}





#slides .next, #slides .prev {





    background-image: url("../images/slides-js-nav.png");





    background-repeat: no-repeat;





    display: block;





    height: 29px;





    position: absolute;





    text-indent: -999em;





    top: 45%;





    width: 17px;





    z-index: 10;





}





#slides .next {





    background-position: 100% 0;





    right: -60px;





}





#slides .next:hover {





    background-position: 100% 100%;





}





#slides .prev {





    background-position: 0 0;





    left: -60px;





}





#slides .prev:hover {





    background-position: 0 100%;





}





#slides .pagination {





    bottom: -20px;





    left: 45%;





    margin-left: -10px;





    position: absolute;





}





#slides .pagination li {





    float: left;





    list-style: none outside none;





    margin: 0 3px;





}





#slides .pagination li a {





    background: url("../images/slides-js-btn.png") no-repeat scroll 0 0 transparent;





    border: medium none;





    display: block;





    height: 12px;





    margin: 0;





    padding: 0;





    text-indent: -999em;





    width: 11px;





}





#slides .pagination li.current a {





    background-position: 100% 0;





}





#slides .caption {





    left: 550px;





    position: absolute;





    top: 80px;





    width: 400px;





    z-index: 500;





}





#slides .caption h3 {





    font-size: 24px;





}





